@page "/access-denied"

<PageTitle>Access denied</PageTitle>

<div class="container mt-5">
    <div class="alert alert-warning">
        <h4 class="alert-heading">Access denied</h4>
        <p>You don't have permission to view this page.</p>
        <hr />
        <div class="d-flex gap-2">
            <a href="/" class="btn btn-secondary">Go home</a>
            <a href="/login" class="btn btn-primary">Sign in</a>
        </div>
    </div>
</div>

