.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main { flex: 1; }

.page.layout-with-sidebar { 
    flex-direction: column; 
}

/* Sidebar container */
.sidebar {
    width: 100%;
}

/* Desktop layout */
@media (min-width: 768px) {
    .page.layout-with-sidebar { 
        flex-direction: row; 
        align-items: stretch; 
    }
    
    .page.layout-with-sidebar > .sidebar { 
        flex: 0 0 220px; 
    }
    
    .page.layout-with-sidebar main { 
        flex: 1 1 auto; 
        min-width: 0; 
    }
}

.page.layout-with-sidebar main { 
    padding: 1.25rem 1.75rem; 
    box-sizing: border-box; 
}

body { background: #fafbfe; }

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss { 
    cursor: pointer; 
    position: absolute; 
    right: .75rem; 
    top: .5rem; 
}
