<div class="top-row navbar navbar-dark">
    <div class="container-fluid">
        <div class="brand">
            <img src="images/logo_pro.png" alt="Luxadent Pro" width="140" height="auto"/>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="links">
        <NavLink href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door"></i> Home
        </NavLink>
        <NavLink href="quizzes">
            <i class="bi bi-list-check"></i> Quizzes
        </NavLink>
        <AuthorizeView>
            <Authorized>
                <NavLink href="my-performance">
                    <i class="bi bi-graph-up"></i> My Performance
                </NavLink>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <NavLink href="quiz-import">
                    <i class="bi bi-upload"></i> Import Quiz
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </nav>

    <div class="sidebar-auth">
        <AuthorizeView>
            <Authorized>
                <div class="auth-user-info">
                    <small>@context.User.Identity?.Name</small>
                </div>
                <a href="/logout" class="auth-link">
                    <i class="bi bi-box-arrow-right"></i> Sign out
                </a>
            </Authorized>
            <NotAuthorized>
                <a href="/login" class="auth-link">
                    <i class="bi bi-box-arrow-in-right"></i> Sign in
                </a>
                <a href="/register" class="auth-link">
                    <i class="bi bi-person-plus"></i> Register
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
