/* NavMenu - Bootstrap Only */

.navbar-toggler {
    appearance: none;
    cursor: pointer;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        display: flex;
    }
}

